/*Custom Fonts*/
@font-face {
    font-family: 'equity_text_aregular';
    src: url('equity_text_a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'equity_text_abold';
    src: url('equity_text_a_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'equity_text_aitalic';
    src: url('equity_text_a_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'equity_caps_aregular';
    src: url('equity_caps_a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'concourse_t2regular';
    src: url('concourse_t2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'concourse_c3regular';
    src: url('concourse_c3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'concourse_t3regular';
    src: url('concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*————————BASE STYLES————————*/

* {
	box-sizing: border-box;
}

body {
	background-color: #fafaf5;
	font-family: 'equity_text_aregular', Georgia, serif;
	font-size: 1.25rem;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
	font-family: 'concourse_c3regular';
}

h1 {
	font-family: 'equity_text_abold', Georgia, Serif;
	font-size: 3.375rem;
	line-height: 4rem;
	margin: 0px 0 12px;
	max-width: 388px;
}

h2 {
	font-family: 'concourse_t2regular', Helvetica;
	font-size: 3rem;
	line-height: 3.625rem;
	color: #B3B3B3;
}

h3 {
	font-size: 2.4375rem;
	line-height: 3rem;
}

h4 {
	font-size: 1.5rem;
	text-align: center;
	margin: 24px auto 16px;
	font-family: 'equity_text_abold';
}

i {
	font-family: 'equity_text_aitalic';
}

b {
	font-family: 'equity_text_abold';
}

.container {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;
}

.item {
	align-self: center;
}


.anchor {
	display: block;
	height: 80px; /*same height as header*/
	margin-top: -80px; /*same height as header*/
	visibility: hidden;
}


/*————————HEADER————————*/

header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 1px solid #D9D9D9;
	background-color: #fafaf5;
}

#headerContent {
	width: 75%;
	margin: auto;
	min-width: 720px;
}


nav {
	display: inline-block;
	float: right;
	font-family: 'concourse_c3regular', Helvetica;
	font-size: 1.125rem;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 4px 9px 6px 9px;
    margin: 28px 28px 0px 28px;
}

li a:hover {
	color: #d9d9d9;
}

#contactButton {
	background-color: #333;
	color: #fafaf5;
	margin-right: 0px;
}

#contactButton:hover {
	background-color:orange;
}

header img {
	height: 56px;
	width: 56px;
	margin-top: 12px;
}





/*————————HERO————————*/

#first {
	width: 100%;
}

#hero {
	width: 75%;
	margin: 205px auto 150px;
}


#rightColHero {
	font-size: 2.5rem;
	line-height: 3rem;
	border-left: 2px solid #D9D9D9;
	padding: 0px 0px 0px 24px;
	max-width: 590px;
	min-width: 590px;
}


#leftColHero img {
	height: 4px;
	width: 4px;
	margin-bottom: 2px;
}

.caption {
	font-family: 'equity_caps_aregular', Georgia, Serif;
	font-size: 1rem;
	line-height: 1.1875rem;
	margin-top: 30px;
	
}

#heroPic {
	width: 100%;
}


/*————————INTRO————————*/

#intro {
	font-size: 1.5rem;
	line-height: 2.25rem;
	width: 75%;
	margin: 104px auto;
	
}

#intro .item {
	align-self: flex-start;
}

#intro p {
	max-width: 627px;
	margin-top: 24px;
}

#intro .caption {
	color: #9A9A9A;
	float: right;
	margin-top: 72px;
	
}

.border {
	border-bottom: 2px solid #333;
	width: 44%; 
	margin-top: 64px;
}

#firstIntro {
	margin-bottom: 136px;
}

#dedicated.container {
	flex-flow: row-reverse nowrap;
}

#dedicated .caption {
	text-align: left;
	float: none;
	margin-top:164px;
}
 #dedicated .border {
	 float: right;
 }
 
 
 
 /*————————AREAS OF PRACTICE————————*/
 
 #areasOfPractice {
	 background-color: #333;
	 color: #FAFAF5;
	 font-size: 1.5rem;
	 line-height: 2.25rem
}

#aop {
	width: 75%;
	margin: auto;
	padding: 104px 0 112px;
	
}

#aop h2 {
	margin: 0 0 32px;
}

#aop p {
	max-width: 648px;
}

#aop #highlight {
	font-family: 'concourse_t3regular', Helvetica, Serif;
	font-size: 1.125rem;
	line-height: 1.5rem;
	text-align: center;
	color: #B3B3B3;
	border: 1px solid #B3B3B3;
	padding: 12px 21px;
	max-width: 368px;
	margin-left: 24px;

}



#carousel li {
	font-size: 1.125rem;
	line-height: 1.5rem;
	width: 370px;
	height: 500px;
	background-color: #fafaf5;
	margin: 0px 4px;
	color: #333;
	float: none;
	padding: 0 28px 0;
	display: inline-block;
	white-space: normal;
	box-shadow: 0px 3px 5px black;
	
}

#carousel p {
	max-width: 281px;
	margin: auto 0;
	padding: auto 0;
}

#carousel a {
	background-color: #333;
	color: #fafaf5;
	margin: 24px 48px;
	
}

#carousel {
	overflow-x: auto;
	width: 75%;
	margin: auto;
	padding-bottom: 112px;
}
#carousel ul {
	list-style-type:none;
	white-space: nowrap;
    overflow-x:auto;

}


#orange {
	border: solid 17px #FBAD40;

}

#yellow {
	border: solid 17px #fed107;
}

#teal {
	border: solid 17px #1cb19b;
}

#green {
	border: solid 17px #72be63;
}

#purple {
	border: solid 17px #9163be;
}

#blue {
	border: solid 17px #4060FB;
}


/*————————ABOUT OUR FIRM————————*/

#aboutOurFirm {
	width: 75%;
	margin: 104px auto 0px;
}

.largetype {
	font-size: 2.5rem;
	line-height: 3.5rem;
	margin-top: 36px;
}

p#tRight {
	text-align: right;
	margin-top: 72px;
}

#divider {
	margin: 96px auto 0px;
	max-width: 1080px
}

img#dividerImg {
	width: 100%
}

/*————————CONTACT US————————*/

#contactUs {
	width: 75%;
	margin: 104px auto 0px;
}

#contactUs li a {
	float: none;
	font-family: 'equity_text_abold', Georgia, Serif;
	font-size: 1.5rem;
	line-height: 1.8125rem;
	margin: 40px 0px 48px 0px;
	padding: 0px;
}

#contactIcons img{
	margin: 0px 16px 0px 0px;
}

#contactUs p.item {
	max-width: 648px;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

#holidayHours {
	border: solid 1px gray;
	padding: 24px;
	margin: 0px;
	font-size: 1.125rem;
	font-family: 'concourse_t3regular';
}

#holidayHours .caption{
	margin: -10px auto 0;
	font-size: 1.125rem;
}


/*————————CONTACT FORM————————*/

#formLabel {
	font-family: 'equity_caps_aregular';
	font-size: 1.125rem;
	margin: 48px 0 32px 0;
}

.formInput input {
	width: 50%;
	padding: 8px 8px 8px 16px;
	font-family: 'concourse_t3regular';
	font-size: 1.75rem;
	line-height: 2.3125rem;
	border: solid 1px #333;
	background-color: white;	
}

.formInput {
	margin: 0px 0 40px;
	font-family: 'concourse_t3regular';
	font-size: 1.125rem;
	line-height: 1.375rem;
}

textarea#styled {
	width: 100%;
	padding: 8px;
	font-family: 'concourse_t3regular';
	font-size: 1.75rem;
	line-height: 2.3125rem;
	border: solid 1px #333;
	background-color: white;
	color: #B3B3B3;
}

#submitButton {
	background-color: #333;
	color: #fafaf5;
	display: block;
	text-align: center;
	font-family: 'concourse_c3regular';
	font-size: 1.1875rem;
	text-decoration: none;
	padding: 4px 9px 6px 9px;
	border: none;
	margin: 0px auto 112px;
}


/*————————FOOTER————————*/

footer {
	background-color: #333;
	color: #fafaf5;
	font-family: 'concourse_t3regular';
	font-size: .875rem;
	line-height: 1.0625rem;
}

.footerLink {
	color: #fafaf5;
	font-family: 'concourse_t3regular';
	font-weight: bold;
}

footer p {
	max-width: 640px;
	margin: auto;
	padding-top: 72px;
	text-align: center;
}

footer .container {
	width: 40%;
	margin: auto;
}
footer li {
	float: none;
}

footer li a {
	color: #B3B3B3;
	margin: 0px;
	padding: 0px;
	font-family: 'concourse_t3regular';
	text-align: left;
	margin: 0px 0px 4px;
}

footer li.heading a {
	color: #fafaf5;
	margin: 48px 0px 8px;
	font-family: 'concourse_c3regular';
}

#small.container {
	width: 75%;
	margin: auto;
	padding-bottom: 4px;
}
#small.container p{
	margin: 0px;
}