/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




																/*Global Styles*/
* { box-sizing: border-box; }

body {
	color: #333;
	background-color: #fafaf5;
	font-family: 'equity_text_bregular';
}

a {
	text-decoration: none;
	color: #333;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

h2 {
	font: 2.6rem/3.625rem 'concourse_t2regular', sans-serif;
	color: #9a9a9a;
}

h3 {
	font-size: 2.25rem;
	line-height: 2.8rem;
}

h4 {
	font: 1.5rem/1.5rem 'equity_text_bbold', Georgia, sans-serif;
	text-align: center;
	margin: 32px auto 16px;
}

h5 {
	font: 1.25rem/1.25rem 'concourse_t3regular', serif;
}

i { font-family: 'equity_text_bitalic'; }

b { font-family: 'equity_text_bbold'; }

.anchor {
	display: block;
	height: 80px; /*same height as header*/
	margin-top: -80px; /*same height as header*/
	visibility: hidden;
}




																/*Header*/
header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: rgba(250, 250, 245, .98);
	border-bottom: solid 1px #d9d9d9;
}

#headerContent {
	width: 85%;
	margin: auto;
	padding-top: 12px;
	max-width: 1080px;
}

#headerContent img {
	height: 56px;
	min-width: 48px;
	min-height: 48px;
}

.menu { font: 1.125rem/1rem 'concourse_c3regular', sans-serif; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fafaf5;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.21)
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid #d9d9d9;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  margin-bottom: 10px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    border: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
  .header ul {
	box-shadow:none;
  }
  
} 

@media (max-width: 1068px) {
  .menu { font-size: 1rem;}
  /* #headerContent li { margin: 0px 0px 0px 32px; } */
  #fullLogo { width: 300px; }
  
}

@media (max-width: 900px) {
	#headerContent { width: 90%; }
	#fullLogo { width: 280px; }
	/* #headerContent li { margin: 0px 0px 0px 24px; } */
	
}

@media (max-width: 767px) {
	/*div#headerContent.container { align-items: flex-start; }*/
}






																/*Hero*/
#heroContent {
	width: 85%;
	max-width: 1080px;
	margin: auto;
	padding: 192px 0px 144px;
}

h1 {
	font-family: 'equity_text_bbold', Georgia, serif;
	font-size: 3rem;
    line-height: 3.5rem;
	margin-bottom: 12px;
}

#leftColHero {
	margin-right: 72px;
	min-width: 388px;
}

#leftColHero .caption {
	font: .9rem/1rem 'equity_caps_bregular', Georgia, serif;
	margin-top: 32px;
}

#rightColHero p {
	font-size: 2.2rem;
	line-height: 2.9rem;
	padding-left: 24px;
	border-left: solid 2px #d9d9d9;
	min-width: 530px;
}

div#heroContent.container { justify-content: center; }




								/*Hero - Guide Pages*/
.heroAuto {
	width: 100%;
	background-color: #FBAD40;
}

.heroAuto #heroContent {
	padding: 192px 0px 80px;
}

.heroAuto #leftColHero {
	min-width: 320px;
	margin-right: 48px
}

.heroAuto #leftColHero .caption {
	color: white;
	font: 1.25rem/1.25rem 'concourse_c3regular', serif;
	margin: 0px;
}

.heroAuto #rightColHero p {
	font: 1.5rem/2.25rem 'equity_text_bregular', Georgia, serif;
	border-left: solid 2px white;
}

@media (max-width: 1068px) {
  #heroContent { padding: 144px 0px 96px; }	
  	
  h1 {
    font-size: 2.5rem;
	line-height:3rem;
  }
  
  #heroContent h2 {
	font-size: 2.2rem;
	line-height: 2.2rem;
  }
  
  #leftColHero .caption { font-size: .75rem; }
  
  #leftColHero {
	min-width: 320px;
	margin-right: 24px;
  }
  
  .heroAuto #leftColHero { min-width: 280px; }
  
  #rightColHero p {
	min-width: 450px;
	font-size: 1.875rem;
	line-height: 2.5rem;
}

  .heroAuto #rightColHero p {
	font-size: 1.25rem;
	line-height: 2rem;
  }
}

@media (max-width: 900px) {
  #rightColHero p {
	font-size: 1.675rem;
	line-height: 2.4rem;
  }

  #leftColHero {
	min-width: 290px;
	margin-right: 16px;
  }
  
  h1 {
	font-size: 2.2rem;
	line-height: 2.8rem;
  }
  
  h2 {
	font-size: 1.95rem;
	line-height: 2.2rem;
  }
  
  #heroContent { width: 90%; }
  
  .heroAuto #leftColHero {
	min-width: 230px;
	margin-right: 48px
}
 
  #leftColHero .caption { font-size: .75rem; }
}

@media (max-width: 768px) {
	
  div#heroContent.container { flex-flow: column nowrap; }
  
  #rightColHero p {
	  font-size: 1.4rem;
	  line-height: 2rem;
	  max-width: 308px;
	  min-width: 10px;
	  margin: 56px auto 0px;
	  padding: 20px 0px 0px 0px;
	  border-top: solid 2px #d9d9d9;
	  border-left: none;
  }

  #heroContent { padding: 132px 0px 56px; }
  
  #leftColHero .caption { margin-top: 24px; }
  
  #leftColHero {
	  text-align: center;
	  margin: auto;
  }
  
  #rightColHero {
	  text-align: center;
  }
  
  .heroAuto #leftColHero {
	  text-align: left;
  }
  
  .heroAuto #rightColHero p {
	margin: 48px 0 0;
	padding: 0 0 0 24px;
	max-width: 600px;
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-size: 1.1rem;
	line-height: 1.8rem;
	border-top: none;
}

}

@media (max-width: 370px) {
  #rightColHero p {
	  font-size: 1.2rem;
	  line-height: 1.8rem;
	  max-width: 308px;
	  min-width: 272px;
	  margin: 56px auto;
	  padding: 20px 0px 0px 0px;
	  border-top: solid 2px #d9d9d9;
	  border-left: none;
  }

  #leftColHero .caption { font-size: .65rem; }
}




															/*Table of Contents - Guide Pages*/
#tableOfContents .container {
	flex-flow: row wrap;
	justify-content: flex-start;
}

#tableOfContents li {
	width: 25%;
	height: 180px;
	border-right: solid 1px #e6e6e6;
	border-bottom: solid 1px #e6e6e6;
}

#tableOfContents li:hover {
	background-color: rgba(251, 173, 64, .25);
}

#tableOfContents h5 {
	margin: 40px auto 0px;
	padding: 0px 8px;
	text-align: center;
}

#tableOfContents p {
	max-width: 296px;
	margin: 12px auto 0px;
	padding: 0px 12px;
	font: 1.125rem/1.375rem 'concourse_t3regular', serif;
	color: #a6a6a6;
	text-align: center;
}

@media (max-width: 1068px) {
  #tableOfContents p {
	max-width: 272px;
	margin: 12px auto 0px;
	padding: 0px 12px;
	font: 1rem/1.275rem 'concourse_t3regular', serif;
	color: #a6a6a6;
	text-align: center;
  }

  h5 {
	font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  #tableOfContents p {
	  display: none;
  }
  
  #tableOfContents li {
	width: 50%;
	height: 60px;
  }
  
  #tableOfContents h5 {
	margin: 20px auto 0px;
	text-align: center;
  }

}
@media (max-width: 560px) {
  #tableOfContents li {
	width: 100%;
}
}
 



																/*Hero Image*/
#heroImage { width: 100%; }




																/*Intro Section*/
#intro {
	width: 85%;
	max-width: 1080px;
	margin: 104px auto;
}

#intro h3 {
	margin-bottom: 24px;
}

#intro P {
	max-width: 627px;
	min-width: 550px;
	font-size: 1.5rem;
	line-height: 2.25rem;
	padding: 0px 0px 56px;
}

div#firstIntro.container div.item { margin-right: 36px; }
div#secondIntro.container div.item { margin-left: 36px; }

div#firstIntro { margin-bottom: 64px; }
div#secondIntro.container {
	flex-direction: row-reverse;
}

.tallImages {
	max-width: 100%;
	height: auto;
}

figcaption {
	font: .9rem/1rem 'equity_caps_bregular', Georgia, serif;
	color: #9a9a9a;
	margin-top: 8px;
}

.line {
	width: 33%;
	min-width: 200px;
	border-bottom: solid 2px #b3b3b3;
	border-radius: 1px;
}


@media (max-width: 1068px) {
  #intro p {
	min-width: 350px;
	font-size: 1.25rem;
	line-height: 2rem;
	padding: 0px 0px 40px;
  }
  
  h3 {
	  font-size: 2rem;
  }
}

@media (max-width: 900px) {
  div#firstIntro.container { align-items: flex-end }
  div#secondIntro.container { align-items: flex-end }
  
  #intro P {
	padding: 0px 0px 24px;
}
  h3 {
	  font-size: 1.8rem;
  }
  
  #intro { width: 90%; }
  
}	

@media (max-width: 768px) {
  div#firstIntro.container { 
	  flex-flow: column nowrap; 
	  align-items: flex-start;
  }
	  
  div#secondIntro.container { 
	  flex-flow: column nowrap; 
	  align-items: flex-start;
  }
  
  div#firstIntro.container div.item { margin-right: 0px; }
  div#secondIntro.container div.item { margin-left: 0px; }
  
  #intro P {
	max-width: 600px;
	min-width: 250px;
	font-size: 1.1rem;
	line-height: 1.8rem;
	padding: 0px 0px 24px;
}
  
  figure {
	  margin-top: 40px;
  }
  
  #intro {
	  margin: 80px auto; 
  }
 }	
 
 
 
 
 															/*Areas of Practice*/
 #aopContent div.container {
	 align-items: flex-start;
 }
 
 #areasOfPractice {
	 width: 100%;
	 background-color: #333;
}
 
 #aopContent {
	 width: 85%;
	 margin: auto;
	 padding: 104px 0 80px;
	 max-width: 1080px;
	 color: #fafaf5;
}
 
 #aopContent p {
	max-width: 648px;
	min-width: 550px;
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-right: 36px;
}

#aopContent h2{
	margin-bottom: 32px;
}

p#highlight.item {
	max-width: 368px;
	min-width: 275px;
	padding: 16px 21px 12px;
	border: solid 1px #b3b3b3;
	font: 1.125rem/1.375rem 'concourse_t3regular', sans-serif;
	color: #b3b3b3;
	text-align: center;
	margin-right: 0px;
}

#aopCarousel {
	overflow-x: auto;
	padding-bottom: 104px;
}

#aopCarousel ul {
	white-space: nowrap;
	overflow-x: scroll;
}

#aopCarousel li {
	width: 352px;
	border: solid 16px orange;
	margin-right: 4px;
	background-color: #fafaf5;
	box-shadow: 0px 3px 5px black;
	display: inline-block;
	white-space: normal;
}

#aopCarousel p {
	padding: 0px 28px;
	font-size: 1.125rem;
	line-height: 1.5rem; 
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#aopCarousel a {
	display: block;
	max-width: 144px;
	margin: 24px auto 30px;
	padding: 10px 0;
	font: 1.125rem/1rem 'concourse_c3regular', sans-serif;
	text-align: center;
	color: #fafaf5;
	background-color: #333;
	border-radius: 1px;
}

#aopCarousel a.hidden {
	visibility: hidden;
}

#aopCarousel li#orange {
	border-color: #FBAD40;
	margin-left: 24px;

}

#aopCarousel li#yellow {
	border-color: #fed107;
}

#aopCarousel li#teal {
	border-color: #1cb19b;
}

#aopCarousel li#green {
	border-color: #72be63;
}

#aopCarousel li#blue {
	border-color: #4060FB;
}

#aopCarousel li#purple {
	border-color: #9163be;
	margin-right: 24px;
}

@media (max-width: 1068px) {
  #aopContent p {
	min-width: 361px;
	font-size: 1.25rem;
	line-height: 2rem;
  }
  
  p#highlight.item {
	font-size: 1rem;
	line-height: 1.275rem;
	padding: 16px 12px 16px;
  }
}

@media (max-width: 900px) {
	 #aopContent { width: 90%; }
}

@media (max-width: 768px) {
  #aopContent div.container {
	 flex-flow: column nowrap;
	 justify-content: center;
  }  
 
  p#highlight.item  {
	   margin-top: 56px;
  }
  
  #aopContent p {
	  margin-right: 0px;
	  min-width: 250px;
	  max-width: 600px;
	  font-size: 1.1rem;
	  line-height: 1.8rem;
  }
  
  #aopContent {
	  padding: 80px 0 40px;
  }
 }
 
 @media (max-width: 375px) {
  #aopCarousel li {
	width: 280px;
	border: solid 12px orange;
	margin-right: 4px;
	background-color: #fafaf5;
	box-shadow: 0px 3px 5px black;
	display: inline-block;
	white-space: normal;
  }
  
  #aopCarousel p {
	padding: 0px 18px;
	font-size: .925rem;
	line-height: 1.3rem; 
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
  }
  
  #aopCarousel a {
	max-width: 124px;
	margin: 24px auto 24px;
	padding: 8px 0;
	font-size: 1rem;
  }
  
  h4 {
	font-size: 1.325rem;
	margin-bottom: 12px;
  }
}





																/*About Our Firm*/
#aboutOurFirm {
	width: 85%;
	max-width: 1080px;
	margin: 104px auto;
}

#aboutOurFirm p {
	font-size: 2.25rem;
	line-height: 3.5rem;
	margin-top: 36px;
	margin-bottom: 56px;
}

p#tRight {
	text-align: right;
	margin-bottom: 80px;
}

#divider img {
	width: 100%;
}

@media (max-width: 1080px) {
  #aboutOurFirm p {
	font-size: 2rem;
	line-height: 3rem;
  }
}

@media (max-width: 900px) {
	 #aopContent { width: 90%; }
}

@media (max-width: 768px) {
  #aboutOurFirm p {
	font-size: 1.75rem;
	line-height: 2.75rem;
  }
}

@media (max-width: 375px) {
  #aboutOurFirm p {
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-bottom: 40px;
  }
	
  p#tRight {
    text-align: right;
    margin-bottom: 72px;
  }
}




																/*Contact Us*/
#contactUs {
	max-width: 1080px;
	width: 85%;
	margin: auto;
}

#contactIcons {
	margin: 40px 0px;
	font: 1.5rem/1.5rem 'equity_text_bbold', Georgia, serif;
}

.icons {
	vertical-align: middle;
	margin-right: 12px;
	padding-bottom: 2px;
}

#contactUs div.container p {
	font-size: 1.5rem;
	line-height: 2.25rem;
	max-width: 648px;
	margin-right: 24px;
}


table {
	border: solid 1px #b3b3b3;
	padding: 16px;
	font: 1.125rem/1.125rem 'concourse_t3regular', sans-serif;
}

td, th {
	padding: 16px 20px 0px;
}

th {
	font: 1.125rem/1.125rem 'equity_caps_bregular', Georgia, serif;
}

#row3 td.grey {
	padding-bottom: 24px;
}

.grey {
	color: #b3b3b3;
	min-width: 90px;
}

.smallCaps {
	font-family: 'concourse_c3regular', sans-serif;
}


@media (max-width: 1068px) {
  #contactIcons {
	font-size: 1.2rem;	
  }
  
  #contactUs div.container p {
	max-width: 500px;
	font-size: 1.25rem;
	line-height: 2rem;
  }

}

@media (max-width: 900px ) {
   ul#contactIcons.container {
	  flex-flow: column nowrap;
  }
  
  #contactUs div.container p {
	max-width: 400px;
	font-size: 1.1rem;
	line-height: 1.8rem;
	margin-right: 24px
  }
  
  #contactIcons li.item {
	margin-bottom: 32px;
  }
  
  #contactUs div.container {
	font-size: 1.25rem;
	line-height: 2rem;
  }
 
  table {
	padding: 12px;
	font: 1rem/1rem 'concourse_t3regular', sans-serif;
  }

  #contactIcons {
	font: 1.2rem/1.2rem 'equity_text_bbold', Georgia, serif;
  }

  #contactUs { width: 90%; }

}
  
@media (max-width: 768px ) {  
  #contactUs div.container {
	font-size: 1.1rem;
	line-height: 1.8rem;
	flex-flow: column nowrap;
  }
  
   #contactUs div.container p {
	max-width: 600px;
	margin: 0 0 40px;
  }
  
  #contactIcons {
	  margin-bottom: 0px;
  }
  
  #contactIcons li.item {
	margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  #contactIcons {
	font: 1rem/1rem 'equity_text_bbold', Georgia, serif;
  }
  
  td {
  	padding: 16px 12px 0px;
  }
}



																/*Contact Form*/





#formLabel {
	font-family: 'equity_caps_bregular';
	font-size: 1.125rem;
	margin: 48px 0 32px 0;
}

.formInput input {
	width: 50%;
	min-width: 350px;
	padding: 8px 8px 8px 16px;
	font-family: 'concourse_t3regular';
	font-size: 1.5rem;
	line-height: 2.3125rem;
	border: solid 1px #333;
	background-color: white;	
}

.formInput {
	margin: 0px 0 40px;
	font-family: 'concourse_t3regular';
	font-size: 1.125rem;
	line-height: 1.375rem;
}

textarea#styled {
	width: 100%;
	padding: 8px 8px 8px 16px;
	font-family: 'concourse_t3regular';
	font-size: 1.5rem;
	line-height: 2.3125rem;
	border: solid 1px #333;
	background-color: white;
	color: #B3B3B3;
}

#submitButton {
	background-color: #333;
	color: #fafaf5;
	display: block;
	text-align: center;
	font: 1rem/1rem 'concourse_c3regular', sans-serif;
	text-decoration: none;
	padding: 8px 9px 8px 9px;
	border: none;
	margin: 0px auto 112px;
}

@media (max-width: 768px) {
	.formInput {
		font-size: 1.025rem;
	}
	
	.formInput input {
		font-size: 1.366rem;
		line-height: 2rem;
		padding: 4px 4px 4px 8px;
	}
	
	textarea#styled {
		font-size: 1.366rem;
		line-height: 2rem;
		padding: 4px 4px 4px 8px;
	}
}

@media (max-width: 375px) {
	.formInput {
		font-size: 1rem;
	}
	
	.formInput input {
		min-width: 280px;
		font-size: 1.3rem;
		line-height: 1.875rem;
		padding: 4px 4px 4px 8px;
	}
	
	textarea#styled {
		font-size: 1.3rem;
		line-height: 1.875rem;
		padding: 4px 4px 4px 8px;
	}
}
  




																/*Footer*/
footer {
	background-color: #333;
	color: #fafaf5;
	font: .875rem/1.0625rem 'concourse_t3regular', sans-serif;
}

.footerLink {
	color: #fafaf5;
	font-family: 'concourse_t3regular';
	font-weight: bold;
}

footer p {
	width: 85%;
	max-width: 640px;
	margin:  0px auto;
	padding-top: 72px;
	text-align: center;
}

footer .container {
	width: 85%;
	max-width: 510px;
	min-width: 300px;
	margin: auto;
}

footer li a {
	display: inline-block;
	color: #b3b3b3;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	font-family: 'concourse_t3regular';
	text-align: left;
}

footer li.heading a {
	color: #fafaf5;
	margin: 48px 0px 8px;
	font-family: 'concourse_c3regular';
}

#small.container {
	width: 85%;
	max-width: 1080px;
	margin: auto;
	padding-bottom: 4px;
}
#small.container p{
	margin: 0px;
	text-align: left;
}

p#rightFooter.item {
	text-align: right;
}

@media (max-width: 900px) {
  footer p { width: 90%; }
  footer .container { width: 90%; }
  #small.container { width: 90%; }
}

@media ( max-width: 450px ) {
  #small.container {
	font-size: .8rem;
}
}




																/*Two-Column Articles*/
.twoColumn {
	width: 85%;
	max-width: 1080px;
	margin: auto;
	padding: 104px 0 112px;
}

.twoColumn h2, h5 {
	max-width: 364px;
	color: #333;
}

.twoColumn h5 {
	margin: 24px 0px 64px;
	line-height: 1.5rem;
	color: #a6a6a6;
}

.twoColumn p {
	margin-bottom: 16px;
	font: 1.25rem/1.875rem 'equity_text_bregular', Georgia, sans-serif;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h6 {
	font: 1.375rem/1.9375rem 'equity_text_bitalic', Georgia, san-serif;
	margin-bottom: 16px; 
}

.bicolumn {
  -webkit-columns: 2 350px;
     -moz-columns: 2 350px;
          columns: 2 350px;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;    
}

.bicolumnItem {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    margin-bottom: 40px;
}

.indentContent {
	font: 1.125rem/1.375rem 'concourse_t3regular', serif;
	list-style: circle;
	padding: 16px 0 16px 64px;
}

.indentContent li:not(:last-child) {
	margin-bottom: 12px;
	
}

@media (max-width: 767px) {
	.twoColumn p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}
	
	h6 {
		font-size: 1.25rem;
		line-height: 1.875rem;
	}
	
	.indentContent {
		font-size: 1rem;
		line-height: 1.25rem;
		padding-left: 40px;
	}
}





															/*Single-Column Articles*/			
.darkBackground {
	background-color: #333;
}

.darkBackground h2, .darkBackground p {
	color: #fafaf5;
}

.singleColumn {
	margin-left: 35%;
}

.darkBackground .indentContent {
	color: white;
	list-style: circle;
}

p.boldText {
	padding-top: 16px;
}

@media (max-width: 768px) {
	.singleColumn {
		margin: auto;
	}